.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.loader img {
  width: 350px;
  height: 250px;
}

.loader h3 {
  color: white;
  margin-top: 60px;
}

.spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid rgba(0,0,0,0.8); /* Blue */
  border-radius: 50%;
  /* width: 2px;
  height: 2px; */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
